<!-- Footer -->
<footer class="">
    <section class="containerFooterOne">
        <h3 class="">Service Clients</h3>
        <p>Pour tout contact direct voici les coordonnées en cas de demande spécifique veuillez remplir le formulaire de contact</p>
        <p>+33 (0)1 44 23 10 34</p>
        <p>Envoyer un e-mail </p>
    </section>
    <section class="containerFootertwo FlexBetween AlignCenter">
        <h3>Services</h3>
        <img class="" alt="more" src="{{ asset('/images/footer/more.svg') }}">
    </section>
    <section class="containerFooterthree FlexBetween AlignCenter">
        <h3>Commandes</h3>
        <img class="" alt="more" src="{{ asset('/images/footer/more.svg') }}">
    </section>
    <section class="containerFooterfour FlexBetween AlignCenter">
        <h3>Sospeso</h3>
        <img class="" alt="more" src="{{ asset('/images/footer/more.svg') }}">
    </section>
    <section class="containerFooterfive FlexBetween AlignCenter">
        <h3>Mentions légales</h3>
        <img class="" alt="more" src="{{ asset('/images/footer/more.svg') }}">
    </section> 
    <section class="containerFootersix FlexCol">
            <article>
            <h3>SUIVEZ-NOUS</h3>
            </article>
            <article class="FlexRow  ">
                <ol><img class="" alt="facebook" src="{{ asset('/images/footer/fb.svg') }}"></ol>
                <ol><img class="" alt="Youtube" src="{{ asset('/images/footer/ytb.svg') }}"></ol>
                <ol><img class="" alt="X" src="{{ asset('/images/footer/x.svg') }}"></ol>
                <ol><img class="" alt="instagram" src="{{ asset('/images/footer/insta.svg') }}"></ol>
            </article>
    </section>
    <section class="containerFooterseven FlexCol AlignCenter JustifyCenter ">
        <article><img class="" alt="logo" src="{{ asset('/images/navbar/logo.svg') }}"></article>
        <p>© Sopeso 2024. Tous droits réservés</p>
    </section>
</footer>