
<header class="">
<!-- header -->
<nav class="FlexRow AlignCenter FlexAround ">
<article>
    <img class="" alt="filter" src="{{ asset('/images/navbar/filtre.svg') }}">
    <img class="" alt="search" src="{{ asset('/images/navbar/search.svg') }}">
</article>

<article>
    <img class="" alt="logo" src="{{ asset('/images/navbar/logo.svg') }}">
</article>

<article>
    <img class="" alt="profile" src="{{ asset('/images/navbar/profile.svg') }}">
    <img class="" alt="cart" src="{{ asset('/images/navbar/cart.svg') }}">
</article>

</nav>

</header>