<a href="{{ path('app_restaurant_public_show', { id: restaurant.id }) }}" class="restaurantLink">
    <article class="Listings">
        <div class="containerPicture">
            <img src="{{ vich_uploader_asset(restaurant.image) }}" alt="{{ restaurant.title }}">
        </div>
        <h2>{{ restaurant.title }}</h2>
        <article class="info AlignCenter FlexRow">
            <div class="location FlexAround AlignCenter FlexRow">
                <img alt="location" src="{{ asset('/images/restaurant/location.svg') }}">
                <div>{{ restaurant.city }}</div>
            </div>
            <div class="notation FlexAround AlignCenter FlexRow">
                <img alt="rating" src="{{ asset('/images/restaurant/star.svg') }}">
                <div>5.0<span>(876+)</span></div>
            </div>
            <div class="price AlignCenter">
                <div>• €{{ minPrice }}-{{ maxPrice }}</div>
            </div>
        </article>
        <section class="FlexRow FlexBetween">
            {% for featuredProduct in restaurant.featuredProducts %}
                <article class="containerBoxProduct FlexRow">
                    <div class="containerPictureProduct">
                        <img src="{{ vich_uploader_asset(featuredProduct.product.image) }}" alt="{{ featuredProduct.product.name }}">
                    </div>
                    <div class="AlignCenter FlexCol JustifyCenter containerInfoProduct">
                        <p class="productName">{{ featuredProduct.product.name }}</p>
                        <p class="productPrice">{{ featuredProduct.product.price }}€</p>
                    </div>
                </article>
            {% endfor %}
        </section>
    </article>
</a>
