{% extends 'dashboard_restaurant/layout.html.twig' %}

{% block content %}
    <h2>Profil du Restaurant</h2>
    <p>Complétez les informations de votre profil restaurateur.</p>

    {{ form_start(form, {'attr': {'class': 'restaurantForm'}}) }}
        <div class="formGroup">
            {{ form_label(form.firstname, 'Prénom') }}
            {{ form_widget(form.firstname, {'attr': {'class': 'inputField'}}) }}
        </div>
        
        <div class="formGroup">
            {{ form_label(form.lastname, 'Nom') }}
            {{ form_widget(form.lastname, {'attr': {'class': 'inputField'}}) }}
        </div>
        
        <div class="formGroup">
            {{ form_label(form.phoneNumber, 'Numéro de téléphone') }}
            {{ form_widget(form.phoneNumber, {'attr': {'class': 'inputField'}}) }}
        </div>
        
        <div class="formGroup">
            {{ form_label(form.address, 'Adresse') }}
            {{ form_widget(form.address, {'attr': {'class': 'inputField'}}) }}
        </div>
        
        <div class="formGroup">
            {{ form_label(form.city, 'Ville') }}
            {{ form_widget(form.city, {'attr': {'class': 'inputField'}}) }}
        </div>
        
        <div class="formGroup">
            {{ form_label(form.country, 'Pays') }}
            {{ form_widget(form.country, {'attr': {'class': 'inputField'}}) }}
        </div>
        
        <div class="formGroup">
            {{ form_label(form.postalCode, 'Code postal') }}
            {{ form_widget(form.postalCode, {'attr': {'class': 'inputField'}}) }}
        </div>
        
        <div class="formGroup">
            {{ form_label(form.dateOfBirth, 'Date de naissance') }}
            {{ form_widget(form.dateOfBirth, {'attr': {'class': 'inputField'}}) }}
        </div>
        
        <div class="formGroup">
            {{ form_label(form.email, 'Email') }}
            {{ form_widget(form.email, {'attr': {'class': 'inputField'}}) }}
        </div>
        
        <div class="formGroup">
            {{ form_label(form.website, 'Site Web') }}
            {{ form_widget(form.website, {'attr': {'class': 'inputField'}}) }}
        </div>
        
        <button type="submit" class="btn">Mettre à jour</button>
    {{ form_end(form) }}
{% endblock %}
