  <section class="FlexRow">
    <article class="containerBoxProduct FlexRow">
        <article class="containerPictureProduct">
            {% if product.image %}
                <img src="{{ vich_uploader_asset(product.image) }}" alt="{{ product.name }}">
            {% else %}
                <img src="https://placehold.co/600x400" alt="{{ product.name }}">
            {% endif %}
        </article>
        <article class="AlignCenter FlexCol JustifyCenter containerInfoProduct">
            <p>{{ product.name }}</p>
            <p>{{ product.description }}</p>
            <p>{{ product.price }}€</p>
        </article>
    </article>
</section>