{% extends 'admin/layout.html.twig' %}

{% block title %}Modifier le restaurant{% endblock %}

{% block content %}
    <h2>Mettre à Jour votre Annonce</h2>
    
    <div class="form-container">
        {{ form_start(form) }}
        
        <div class="form-group">
            <label>{{ form_label(form.title) }}</label>
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.title) }}
        </div>
        
        <div class="form-group">
            <label>{{ form_label(form.description) }}</label>
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>
        
        <div class="form-group">
            <label>{{ form_label(form.image) }}</label>
            {{ form_widget(form.image, {'attr': {'class': 'form-control-file'}}) }}
            {{ form_errors(form.image) }}
        </div>
        
        <div class="form-group">
            <label>{{ form_label(form.featuredProducts) }}</label>
            {{ form_widget(form.featuredProducts, {'attr': {'class': 'form-control-checkbox'}}) }}
            {{ form_errors(form.featuredProducts) }}
        </div>

        
        <button class="btn" type="submit">Enregistrer l'Annonce</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

